* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ######################################## */
/* ####### COMMON HTML-CSS SELECTOR ####### */
/* ######################################## */
body {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

h5 {
    font-weight: 500;
    color: #0d2b66;
}

a {
    color: #2285fd;
}

/* ################################ */
/* ####### GENERAL SELECTOR ####### */
/* ################################ */
.none_list {
    list-style: none;
}
[class*="none_list"] li {
    display: inline-block;
}
[class*="none_list"] li > a {
    text-decoration: none;
}

.none_link {
    text-decoration: none;
}

.google_icon {
    display: inline-block;
    height: 20px;
    width: 20px;
    background-image: url("../img/google-icon.png");
    background-size: contain;
    background-repeat: no-repeat;
    flex-basis: 35%
}

.bttn_google {
    background-image: url("../img/google-icon.png");
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: left;
}

.bttn_light {
    padding: 6px 12px;
    border-radius: 4px;
    background-color: white;
    border: 1px solid #2285fd;
    color: #2285fd;
}
.bttn_light:hover {
    background-color: #2285fd;
    color: white;
}

.bttn_cover {
    background-color: #2285fd;
    color: white;
}
.bttn_cover:hover {
    background-color: #579aff;
}

input {
    border: 1px solid lightgrey;
    border-radius: 4px;
    padding: 0px 5px;
    margin: 5px 0px;
    width: 100%;
    height: 35px;
}
button {
    width: 100%;
    height: 30px;
    background-color: transparent;
    border: none;
    border-radius: 4px;
    box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.1);
    padding: 0px 5px;
    margin: 5px 0px;
    cursor: pointer;
}

form {
    margin: 15px 0px;
}
/* ############################### */
/* ####### HEADER SELECTOR ####### */
/* ############################### */
header > nav {
    background-color: white;
    height: 60px;
}

nav > div {
    height: 100%;
}

#logo_nav {
    height: 30px;
}

nav ul a {
    color: #0d2b66;
}

nav ul li {
    margin: 0px 10px;
}

nav ul li:last-child {
    margin-right: 0px;
}

 nav ul:nth-child(3) {
     text-align: right;
 }

#bars_menu {
    display: none;
}



/* ############################# */
/* ####### HERO SELECTOR ####### */
/* ############################# */
#hero {
    height: auto;
    background-image: url("../img/bg-banner-home.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 60px 0px;
}

.hero_left {
    color: white;
    height: auto;
    width: 55%;
    padding-right: 50px;
}
.hero_left h1 {
    font-size: 3.5rem;
    line-height: 3.8rem;
    margin-bottom: 1rem;
    padding-right: 20px;
}
.hero_left p {
    font-size: 1.1rem;
    opacity: 0.75;
    line-height: 1.8rem;
}

.hero_right {
    height: auto;
    width: 45%;
    padding-left: 100px;
}

.hero_form {
    height: auto;
    width: 100%;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    padding: 15px;
}
.hero_form h2:first-child {
    color: #0d2b66;
    margin-top: 15px;
}
.hero_form h2:nth-child(2) {
    color: #2285fd;
    margin: 5px 0px;
}
.hero_form h5 {
    margin-top: 15px;
    font-size: 0.75rem;
}


/* ################################## */
/* ####### CUSTOMERS SELECTOR ####### */
/* ################################## */
#customers {
    background-color: #f3f5f9;
    height: auto;
}
#customers > div {
    padding: 20px 0px;
}
#customers h3 {
    color: #737f9a;
    font-size: 0.8rem;
}
#customers a {
    font-size: 0.8rem;
    text-decoration: none;
}
#customers a:hover {
    text-decoration: underline;
}
#customers > div > * {
    margin: 10px 0px;
}

.customers_logo {
    width: 100%;
}
.customers_logo > * {
    height: 100px;
}


/* ################################# */
/* ####### OPTIONER SELECTOR ####### */
/* ################################# */
#optioner {
    height: auto;
    padding: 50px 0px;
}

.optioner_div1 {
    text-align: center;
    margin-bottom: 50px;
}
.optioner_div1 h2 {
    color: #031c4e;
    margin-bottom: 10px;
    font-size: 2rem;
}
.optioner_div1 p {
    color: #5c6a88;
}

.optioner_div2 > div:last-child h3 {
    color: #031c4e;
    margin: 10px 0px;
}
.optioner_div2 > div:last-child p {
    color: #5c6a88;
}
.optioner_div2 > div:last-child {
    width: 70%;
}
.optioner_div2 > div:last-child > div {
    flex: 40%;
    margin-bottom: 20px;
    margin-right: 20px;
}

.optioner_div2 > div:first-child ul li {
    border-left: 2px solid #dadada;
    padding: 10px 10px;
    color: #8e97ad;
    display: block;
}
.optioner_div2 > div:first-child {
    width: 40%;
    margin-bottom: 50px;
}

/* ############################## */
/* ####### RESPONSIVE CSS ####### */
/* ############################## */

/* ##### S - SMARPHONE ##### */
@media all and (max-width: 767px) {
    .widthed_page {
        max-width: none;
        width: 90%;
        margin: 0 auto;
    }

    .none_menu > ul {
        display: none;
    }

    #bars_menu {
        display: inline-block;
        color: #2285fd;
        font-size: 1.5rem;
    }

    /* ##### HERO SMARTPHONE ##### */
    .hero_left {
        width: 100%;
        padding-right: 0px;
        margin-bottom: 20px;
    }

    .hero_right {
        width: 100%;
        padding-left: 0;
    }

     #hero h1 {
        font-size: 1.7rem;
        line-height: 2.2rem;
    }

    /* ##### CUSTOMERS SMARTPHONE ##### */
    .customers_logo > * {
        height: 80px;
        flex: 50%;
    }

    /* ##### OPTIONER SMARTPHONE ##### */
    .optioner_div2 {
        display: block;
    }
    .optioner_div2 > div:last-child {
        display: block;
        flex-wrap: nowrap;
    }
}

/* ##### M - TABLET ##### */
@media all and (min-width: 768px) and (max-width: 991px) {
    .widthed_page {
        max-width: none;
        width: 90%;
        margin: 0 auto;
    }

    .none_menu > ul {
        display: none;
    }

    #bars_menu {
        display: inline-block;
        color: #2285fd;
        font-size: 1.5rem;
    }

    /* ##### HERO TABLET ##### */
    #hero {
        height: auto;
        padding: 50px 0px;
    }

    #hero h1 {
        font-size: 2rem;
        line-height: 2.5rem;
    }
    #hero p {
        font-size: 1.2rem;
        line-height: 1.6em;
    }
    .hero_left {
        width: 55%;
        padding-right: 0px;
    }
    .hero_right {
        width: 45%;
        padding-left: 25px;
    }

    /* ##### CUSTOMERS TABLET ##### */
    .customers_logo > * {
        height: 60px;
    }
}